CI_ENVIRONMENT=production

app.baseURL = 'https://presensi.smauiiyk.sch.id/'

database.default.hostname = your-neon-hostname
database.default.database = your-neon-database
database.default.username = your-neon-username
database.default.password = your-neon-password
database.default.DBDriver = Postgre
database.default.port = 5432
